*.pdf
*.png
*.rda
*.rds
*.tiff
output
.Rproj.user
*.acn
*.acr
*.alg
*.aux
*.bbl
*.bcf
*.blg
*.eps
*.gz
*.jpg
*.lof
*.log
*.lot
*.nav
*.out
*.snm
*.synctex(busy)
*.toc
*.xdy
*.xml
*.exe
*.knit.md
model_*.stan
model_*
